<input type="search"
  value={{text}}
  id="ember-power-select-typeahead-input-{{select.uniqueId}}"
  class="ember-power-select-typeahead-input ember-power-select-search-input"
  autocomplete="off"
  placeholder={{placeholder}}
  oninput={{onInput}}
  onfocus={{onFocus}}
  onblur={{onBlur}}
  onkeydown={{action "handleKeydown"}}
  onmousedown={{action "stopPropagation"}}>
{{#if canClear}}
    <span class="ember-power-select-clear-btn" onmousedown={{action "clear"}} ontouchstart={{action "clear"}}>&times;</span>
{{/if}}
{{#if select.loading}}
  <span class="ember-power-select-typeahead-loading-indicator"></span>
{{/if}}
